Invoice.dtd

<!ELEMENT invoice (invno,invdate,customername,items,gst,net)>
<!ELEMENT invno (#PCDATA)>
<!ELEMENT invdate (#PCDATA)>
<!ELEMENT customername (#PCDATA)>
<!ELEMENT items (item+)>
<!ELEMENT item (itemno,itemname,itemprice,itemqty,units,amount)>
<!ELEMENT itemno (#PCDATA)>
<!ELEMENT itemname (#PCDATA)>
<!ELEMENT itemprice (#PCDATA)>
<!ELEMENT itemqty (#PCDATA)>
<!ELEMENT units (#PCDATA)>
<!ELEMENT amount (#PCDATA)>
<!ELEMENT gst (#PCDATA)>
<!ELEMENT net (#PCDATA)>
